.b-header {
  .title {
    padding: 0.5em;
    a {
      color: var(--primary);
    }
    &:active {
      color: #f9ac85;
    }
  }

  .menu-panel li a.widget-link {
    width: auto;
  }

  > ul.icons {
    margin: 0 10px 0 0;
  }
}

#toggle-hamburger-brand-menu {
  margin: 0;

  .d-icon {
    font-size: 1.143em;
    vertical-align: middle;
  }
}

.profiler-results {
  display: none;
}

// applies when show_bar_on_mobile is checked
.above-site-header-outlet .b-header {
  width: 100%;
  height: 48px;
  margin-bottom: 0;

  .title {
    float: right;
    margin-right: 24px;
    a {
      color: var(--primary);
    }
    &:visited {
      color: var(--primary);
    }
  }
  .title {
    padding: 0px;
  }
}

.d-header #brand-logo {
  height: 1.3em;
  width: 1.3em;
  padding-bottom: 4px;
}
