.b-header {
  background: var(--header_background);

  .contents {
    margin: 8px 0;
  }

  #brand-logo {
    max-height: 26px;
    margin: 6px 0 12px;
  }

  #byline-text {
    font-style: italic;
  }

  nav.links {
    float: right;
    margin-top: 0;
  }

  .nav-pills {
    margin: 0;
    > li > a {
      color: var(--primary);
      line-height: 22px;
      font-family: "Montserrat"!important;
      &:hover {
        color: #F45363;
        background: none;
      }
      &.active > a,
      > a.active {
        color: #F45363;
        background: none;
      }
    }
  }

  .panel {
    float: right;
    position: relative;
    .rtl & {
      float: left;
    }
  }

  ul.icons {
    text-align: center;
    margin: 0 0 0 5px;
    > li {
      float: left;
      list-style: none;
    }
    a {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 28px;
      display: inline-block;
      margin: 2px;
    }
    .rtl & {
      margin: 0 5px 0 0;
      > li {
        float: right;
      }
    }
  }

  .panel > ul.icons {
    float: right;
    a,
    .d-icon {
      color: var(--secondary);
    }
    .rtl & {
      float: left;
    }
  }
}

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
  body.light-theme & svg, body.light-theme & button:hover svg {
    color: var(--primary)!important;
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      margin: 6px 20px;
      color: var(--primary);
      font-size: 16px;
      font-weight: bold;
      font-family: "Montserrat"!important;
      text-transform: uppercase;
    }
    &:hover a {
      border-bottom: 2px solid #01eab0;
    }
  }
}
body.light-theme {
  .custom-header-links .headerLink:hover a {
    border-bottom: 2px solid #f45363;
  }

  .extra-info-wrapper .topic-link {
    color: var(--primary);
  }

  .badge-wrapper .badge-category .category-name, .extra-info-wrapper .discourse-tag {
    color: #6b6b6b;
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

@if $links_position == left {
  .custom-header-links {
    margin-left: 1em;
  }
  .hide-menus {
    .custom-header-links {
      display: none;
    }
  }
}

.user-card, .group-card {
  z-index: 20000;
}

footer#putty-main-footer {
  background: #303030;
  padding: 20px 15px;
  font-family: "Montserrat"!important;
  color: white;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end;

    li {
      margin: 0 20px;

      a {
        font-weight: bold;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: white;
      }

      a:active, a:hover {
        color: #00ebb0;
      }
    }
  }
  #footer-info {
    text-align: right;
    margin-right: 20px;
    font-size: smaller;

    a {
      color: #e88356;
      &:hover {
        color: white;
      }
    }
  }
}

// custom hamburger / sidebar order

.sidebar-sections {
  display: flex;
  flex-direction: column;
  div[data-section-name='messages'] {
    order: 1;
  }
  div[data-section-name='categories'] {
    order: 2;
  }
  div[data-section-name='tags'], div[data-section-name='community'], body:not(.staff) div[data-section-name='Staff'] {
    display: none;
  }
  a.sidebar-section-link {
    cursor: pointer!important;
  }
}


// putty rules

/* Joel Zaslofsky, 2019-02-20
 * Hide div.bio DIV class field on forum.theputtytribe.com/my/summary or other member profile viewable
 * Pages because the About info is showing twice as of Discourse v 2.2.0 beta 8
*/
.bio {
  display: none;
}

/* To remove Ignore Users functionality from the Discourse front-end since we as a community don't want it. That means: */
/* Hiding the "Normal / Muted / Ignore" toggle button on forum profile pages (e.g., https://forum.theputtyverse.com/my/summary) */
/* And removing the whole "Ignore" block from https://forum.theputtyverse.com/my/preferences/users */
.user-notifications, .user-ignore {
  display: none !important;
}

/* Hide Activity and Messages tabs on all group details pages (e.g., https://forum.theputtyverse.com/groups/Coaches */
.group-nav {
  .activity,
  .messages {
    display: none !important;
  }
}

/* Hide Invites tab on all Preferences pages (e.g., https://forum.theputtyverse.com/my/invited/pending) */
li.user-nav__invites {
  display: none !important;
}

/* Hide some of the links in the sidebar so there aren't so many options to get overwhelmed by */
.sidebar-section-link.sidebar-section-link-about.sidebar-row {
  display: none !important;
}

.sidebar-section-link.sidebar-section-link-birthdays.sidebar-row {
  display: none !important;
}

.sidebar-section-link.sidebar-section-link-badges.sidebar-row {
  display: none !important;
}

/* Hide Discourse logout link in favor of WordPress one */
.logout-link {
    display: none;
}

/* Remove "Posted" and "Seen" columns from group-detail member lists,
disabled until Discourse makes the change.
*/
/*.group-members {
  grid-template-columns: 3fr minmax(min-content, 1fr);
  [class*="--last-posted"],
  [class*="--last-seen"] {
    display: none;
  }
}*/
