.b-header {
  background: var(--header_background);

  .contents {
    margin: 8px 0;
  }

  #brand-logo {
    max-height: 26px;
    margin: 6px 0 12px;
  }

  #byline-text {
    font-style: italic;
  }

  nav.links {
    float: right;
    margin-top: 0;
  }

  .nav-pills {
    margin: 0;
    > li > a {
      color: var(--primary);
      line-height: 22px;
      font-family: "Montserrat"!important;
      &:hover {
        color: #f9ac85;
        background: none;
      }
      &.active > a,
      > a.active {
        color: #f9ac85;
        background: none;
      }
    }
  }

  .panel {
    float: right;
    position: relative;
    .rtl & {
      float: left;
    }
  }

  ul.icons {
    text-align: center;
    margin: 0 0 0 5px;
    > li {
      float: left;
      list-style: none;
    }
    a {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 28px;
      display: inline-block;
      margin: 2px;
    }
    .rtl & {
      margin: 0 5px 0 0;
      > li {
        float: right;
      }
    }
  }

  .panel > ul.icons {
    float: right;
    a,
    .d-icon {
      color: var(--secondary);
    }
    .rtl & {
      float: left;
    }
  }
}

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
  body.light-theme & svg, body.light-theme & button:hover svg {
    color: var(--primary)!important;
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      margin: 6px 20px;
      color: var(--primary);
      font-size: $font-up-1;
      font-weight: bold;
      font-family: "Montserrat"!important;
      text-transform: uppercase;
    }
    &:hover a {
      border-bottom: 2px solid #01eab0;
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

@if $links_position == left {
  .custom-header-links {
    margin-left: 1em;
  }
  .hide-menus {
    .custom-header-links {
      display: none;
    }
  }
}

.user-card, .group-card {
  z-index: 20000;
}

footer#putty-main-footer {
  background: #303030;
  padding: 20px 15px;
  font-family: "Montserrat"!important;
  color: white;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end;

    li {
      margin: 0 20px;

      a {
        font-weight: bold;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: white;
      }

      a:active, a:hover {
        color: #00ebb0;
      }
    }
  }
  #footer-info {
    text-align: right;
    margin-right: 20px;
    font-size: smaller;

    a {
      color: #e88356;
      &:hover {
        color: white;
      }
    }
  }
}

