.b-header {
  background: var(--header_background);

  .contents {
    margin: 8px 0;
  }

  #brand-logo {
    max-height: 20px;
    padding-bottom: 4px;
    padding-left: 2px;
  }

  #brand-text-logo {
    line-height: 32px;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.75em;
  }

  #byline-text {
    font-style: italic;
  }

  nav.links {
    float: right;
    margin-top: 10px;
  }

  .nav-pills {
    margin: 0;
    > li > a {
      color: var(--primary);
      line-height: 22px;
      &:hover {
        color: #f9ac85;
        background: none;
      }
      &.active > a,
      > a.active {
        color: #f9ac85;
        background: none;
      }
    }
  }

  .panel {
    float: right;
    position: relative;
    .rtl & {
      float: left;
    }
  }

  ul.icons {
    text-align: center;
    margin: 0 0 0 5px;
    > li {
      float: left;
      list-style: none;
    }
    a {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 28px;
      display: inline-block;
      margin: 2px;
    }
    .rtl & {
      margin: 0 5px 0 0;
      > li {
        float: right;
      }
    }
  }

  .panel > ul.icons {
    float: right;
    a,
    .d-icon {
      color: var(--secondary);
    }
    .rtl & {
      float: left;
    }
  }
}

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      padding: 6px 10px;
      color: var(--header_primary);
      font-size: $font-up-1;
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

@if $links_position == left {
  .custom-header-links {
    margin-left: 1em;
  }
  .hide-menus {
    .custom-header-links {
      display: none;
    }
  }
}
