<footer id="putty-main-footer">
  <div id="putty-footer-nav">
    <div class="container">
      <ul id="menu-main-member" class="bottom-nav">
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-783"><a href="https://theputtyverse.com/">Home</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-655"><a href="https://forum.theputtyverse.com/">Forum</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-783"><a href="https://theputtyverse.com/gcal-events/">Events</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1036"><a href="https://theputtyverse.com/help/faq">Help</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1027"><a href="https://theputtyverse.com/my-account/">My Account</a></li>
      </ul>
    </div>
  </div> <!-- #et-footer-nav -->


  <div id="footer-bottom" style="margin-bottom: 37px;">
    <div class="container clearfix">
      <p id="footer-info">
        <a href="https://theputtyverse.com/terms-and-conditions/">Terms &amp; Conditions</a> | ©2023 Puttylike Media Ltd.<br>
      </p>
    </div>	<!-- .container -->
  </div>
</footer>
