.brand-header {
  position: fixed;
  height: 104px;
  width: 100%;
  z-index: 100;
  body.dark-theme & {
    background: var(--header_background);
  }
}
body.light-theme {
  background: #f2f1f1;
  .brand-header {
    background: linear-gradient(135deg, #fff7a5, #d69a9a);
  }

  #main-outlet {
    padding: 40px;
    background: white;
  }

  .alert.alert-info {
    background-color: #fdd417
  }
}

.brand-header.hide-menus {
  display: none;
}

.b-header {
  width: 100%;
  height: 48px;
  margin-bottom: 0;

  .title {
    float: left;
    margin-right: 24px;
    a {
      color: var(--primary);
    }
  }
}

/* Header & Navigation*/
.d-header-wrap:not(.hide-menus) .d-header {
  background: transparent;
}
.d-header-wrap {
  top: 44px;
  position: fixed;
  width: 100%;
}
#main-outlet {
  margin-top: 128px;
}
// Hide Discourse Home and only show on scroll.
.d-header .title {
  display: none;
}
.d-header-wrap.hide-menus {
  top: 0;
  z-index: 1000001;
  height: 68px;
  img#brand-logo.logo-big {
    max-height: 26px;
  }
  .d-header.hide-menus {
    height: 68px;
    body.light-theme & {
      background: linear-gradient(135deg, #fff7a5, #d69a9a);
    }
  }
}

.docked .d-header .title {
  display: block;
}

.d-header .custom-header-links {
  .headerLink {
    ul.submenu {
      display: none;
      li.sublink {
        list-style: none;
        padding: 12px 6px;
        border-bottom: 1px solid #e2e2e2;
        a {
          text-transform: none;
          font-weight: 400;
          font-size: 0.9em;
          font-family: "Montserrat";
          padding: 12px 6px;
          border-bottom: none;
          &:hover {
            border-bottom: none;
          }
        }
        &:hover {
          background: var(--d-hover);
        }
      }
    }
    &:hover ul.submenu {
      display: inline-block;
      position: absolute;
      top: 35px;
      background: var(--header_background);
      font-weight: 400;
    }
  }
}

/* home-symbol icon at the top-right in the "latest" page is weird in size/position when the page is scrolled */
#site-logo {
  height: 2.2857em !important; /* dimensions taken from adjacent neighboring icons: search etc*/
  width: 2.2857em  !important;
}
.d-header .title {
  height: auto;
}


// Putty rules

#main a:hover {
  text-decoration: underline;
}
.d-header a:hover, .b-header a:hover {
  text-decoration: none!important;
}
